*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(135deg,#ff69b4,#8a2be2);
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* VIDEO CONTAINER */
#intro {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  width: 100%;
  height: 100dvh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-box{
  position: relative;
  width: 100%;
  height: 100vh;

  overflow: hidden;
}

/* VIDEO TOTALMENTE CENTRALIZADO */
#videoIntro{
  position:absolute;

  width:100%;
  height:100%;

  object-fit:contain;

  top:0;
  left:0;

  z-index:1;
}


/* BOTÃO PLAY CENTRALIZADO */

#btnPlay{
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 999;

  padding: 18px 35px;

  border: none;
  border-radius: 20px;

  background: #ff1493;
  color: white;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 0 25px rgba(255,20,147,0.7);

  transition: 0.3s;
}

#btnPlay:hover{
  transform: translate(-50%, -50%) scale(1.08);
}

/* ANIMAÇÃO */

@keyframes pulse{

  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.08);
  }

  100%{
    transform: scale(1);
  }

}

/* CONVITE */

.card{
  background:white;
  width:100%;
  max-width:450px;
  border-radius:25px;
  padding:30px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);

  display:none;
}

.card img{
  width:120px;
  margin-bottom:15px;
}

h1{
  color:#8a2be2;
  margin-bottom:10px;
}

p{
  color:#555;
  margin-bottom:25px;
}

input{
  width:100%;
  padding:15px;
  border-radius:12px;
  border:2px solid #ddd;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#ff1493;
  color:white;
  font-size:18px;
  cursor:pointer;
}

.success{
  margin-top:20px;
  color:green;
  font-weight:bold;
  display:none;
}
/* ADICIONE NO FINAL DO CSS */

.convidado-box{
  background:#f8f8f8;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
  border:2px solid #eee;
}

.convidado-box h3{
  margin-bottom:10px;
  color:#8a2be2;
}

.convidado-box input{
  margin-bottom:10px;
}

/* CELULAR */

@media (max-width:768px){

  #videoIntro{
    object-fit:contain;
  }

  #btnPlay{
    width:80px;
    height:80px;
  }

}